@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Mako&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0.5rem;
  padding: 0.5rem;
}

.nav {
    background-color: #DF2727;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0.75rem 5vw;
    box-shadow: 0 0 30px lightgray;
    height: 120px;
  }

  .nav img{
    width: 300px;
  }


.nav ul{
   font-size: 18px;
    display: inline-block;
    list-style: none;
    margin: 0px 15px 0px 0px;
}

li.big-screens{
    padding-left: 1px;
    padding-right: 3px;
}

  li.big-screens a{
    font-family: 'Mako', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    margin: 0px 25px 0px 20px;
    display: inline-block;
   
  }


/* Animação de fade */
li {
    transition: opacity 0.5s;
}

li:hover {
    opacity: 0.7;
}

.search-container {
        float: right;
    }

    input[type="text"] {
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        border: none;
        font-size: 17px;
    }

    input[type="text"]:focus {
        width: 200px;
        transition: width 0.4s ease-in-out;
    }

    input[type="text"]:focus + button {
        background-color: #ccc;
        color: black;
    }

    .search-button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
    }

    .search-button:hover {
        background-color: #ddd;
        color: black;
    }

  .search-bar{
    width: 180px;
    height: 30px;
 }

 .left-banner h1{
    font-family: 'Lilita One', sans-serif;
    font-size: 50px;
    padding-left: 5rem;
 }

 span.b1{
    font-family: 'Lilita One', sans-serif;
    font-size: 100px;
    padding-left: 40rem;
    margin-top: 800px;
    color: #496eb7;
  
 }

 .right-bannner{
    margin-left: 50rem;
    display: inline-block;
 }

 .right-bannner img{
    width: 40rem;
 }